{% extends "index.html" %}

{% block title %}
 Accept Invitation
{% endblock %}

{% block content %}
<div class="well col-md-6">
    <p>User {{ invitation.from_user }} invites you to game and sends a message along with it</p>
    <blockquote><p>{{ invitation.message }}</p></blockquote>
    <form action="" method="post">
        {% csrf_token %}  <!-- this a security related token and is imp-->

        <button type="submit" name="accept" value="Ok">Accept</button>
        <button type="submit" name="deny" value="No">Deny</button>

    </form>
    </div>
{% endblock %}